@charset "utf-8";
/*reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,ul,li{margin:0;}
ul{padding:0;}
ol,li{margin:0; padding:0;}
table{border-collapse: collapse; border-spacing: 0;}
fieldset, img{border: 0 none; vertical-align: middle;}
address, caption, cite, code, dfn, em, strong, th, var{font-style: normal; font-weight: normal;}
ol, ul , li{list-style: none;}
del, ins{text-decoration: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{ font-weight: normal;}
input, button, textarea, select{font-size: 100%; cursor: pointer;}
q:before, q:after{content: '';}
a, input, textarea { outline: 0 none; text-decoration: none;}

/*clearfix */
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}

/*width height*/
.w10{width: 10%;}
.w15{width: 15%;}
.w19{width: 19%;}
.w20{width: 20%;}
.w24{width: 24%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w78{width: 78%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w100{width: 100%;}
.h20{ height: 20px;}
.h25{ height: 25px;}
.h30{ height: 30px;}
.h35{ height: 35px;}
.h40{ height: 40px;}
.h45{ height: 45px;}
.h50{ height: 50px;}
.h55{ height: 55px;}
.h60{ height: 60px;}
.h100{height: 100%;}

/*font */
.f10{font-size: 10px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f19{font-size: 19px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f28{font-size: 28px;}
.f30{font-size: 30px;}
.fb{font-weight: bold;}
.fn{font-weight: 400;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh35{line-height:35px;}
.lh40{line-height:40px;}
.no_unl{text-decoration: none;}
/*position */
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.bc{margin-left: auto; margin-right: auto;}
.fl{float: left; display: inline;}
.fr{float: right; display: inline;}
.vm{vertical-align: middle;}
.vt{vertical-align: top;}
.pf{position: fixed;}
.ps{position: static;}
.pr{position: relative;}
.pa{position: absolute;}
.abs-right{position: absolute; right: 0;}
.abs-left{position: absolute; left: 0;}
.hidden{visibility: hidden;}
.none{display: none;}
.br5{ border-radius: 5px;}
.t0{top:0;}
.b0{bottom: 0;}
/*margin padding */
.mauto{margin: auto;}
.m0{margin: 0px;}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.m25{margin: 25px;}
.m30{margin: 30px;}
.m40{margin: 40px;}
.m50{margin: 50px;}
.mt0{margin-top: 0px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mr0{margin-right: 0px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr50{margin-right: 50px;}
.mb0{margin-bottom: 0px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.ml0{margin-left: 0px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}
.p0{padding: 0px;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.p25{padding: 25px;}
.p30{padding: 30px;}
.p40{padding: 40px;}
.p50{padding: 50px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr25{padding-right: 25px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}
.pl50{padding-left: 50px; border-radius: }

/**public**/
*{box-sizing:border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box;margin:0px;padding:0px;}
body{ font-family:"Microsoft YaHei","微软雅黑";background-color:#fff; color:#676F7C; font-size: 14px;}
input{font-family:"Microsoft YaHei","微软雅黑";}
.w1200{width: 1200px;margin: 0px auto;}

/**页头和页尾**/
/**头**/
.head-top{padding: 10px 0px;line-height: 20px;position:relative;background: rgb(84, 84, 84);}
.head-top a{color: #cdcdcd;margin-right: 15px;font-size: 13px;}
.head-top a:hover{color: #fff !important;}
.header-cen{background: #fff;border-bottom: 1px solid #e8e8e8;padding: 20px 0px;min-width: 1200px;}
.header-cen .logo{display: inline-block;height: 40px;border-right: 1px solid #e8e8e8;padding-right: 20px;}
.party-change{float: left;margin-left: 20px;margin-top: 1px;height: 40px;}
.party-change img{height: 36px;width: auto;}
.party-change a.pc-click{margin-left: 22px; font-size: 12px;color:#959595;}
.index-head-nav{float: left;display: inline-block;height: 40px;margin-left: 13px;}
.index-head-nav li{float: left;position: relative;}
.index-head-nav li>a{color: #333;font-size: 16px;padding: 10px;line-height: 20px;display: inline-block;margin:0px 13px;}
.index-head-nav li:hover>a,.index-head-nav li.active>a{color: #fb7730;}
.index-head-nav li:hover dl{display: inline-block;} 
.index-head-nav li dl{position: absolute;top: 40px; left: 0px;border:1px solid #ddd;background:#fff ;border-top: 0px;width: 100%;display: none;z-index: 200;}
.index-head-nav li dl dt{position: absolute;top: -5px;left: 50%;margin-left: -9px;width: 18px;height: 5px;background: url(images/sj-top.png) no-repeat;}
.index-head-nav li dl dd a{color: #333;font-size: 14px;margin:0px;width: 100%;text-align: center;border-top: 1px solid #e8e8e8;padding: 10px;line-height: 20px;display: inline-block;}
.index-head-nav li dl dd a:hover,.index-head-nav li dl dd.active a{background: #fb7730;color: #fff!important;}
.search-see{padding: 0px;}
.search-see .input-search{line-height: 20px;padding: 9px 10px;border:1px solid #e8e8e8;color: #454545;font-size: 15px;width:155px;height: 40px;}
.search-see .btn-search{float: left;width:60px;height: 40px;display: block;background:#ff6715 url(images/zs/search.png) no-repeat center center;border:0px; }
.search-see .btn-search:hover{background: #ff5900 url(images/zs/search.png) no-repeat center center;;}
/**尾**/
.bottom{background:#5E5E5E;color:#dadada;min-width: 1200px;}
.bottom a{color:#b0b0b0; line-height:25px}
.bottom a:hover{color: #fff !important;}
.bottom dl{display: inline-block;margin-right:80px;float: left;}
.bottom dl dt{margin-bottom: 20px;font-size: 14px;}
.bottom dl dd{font-size:12px;}
.bottom-partners{width: 1100px;float: right}
.bottom-partners p{border-bottom:1px #434242 solid;padding:7px 0;line-height:25px}
.bottom-partners a{margin-right: 20px;font-size: 12px;}

/**个人中心**/
.w200{width: 200px;background-color: #eeeeee;min-height:1040px;}
.w1000{width: 998px;padding: 20px 50px;float: left;}
.per-center-box{border:1px solid #ecebeb;background-color: #fff;}
.per-center-box dl dt{font-size: 16px;font-weight: bold;line-height: 40px;padding: 10px 0px;padding-left: 50px;}
.per-center-box dl dd a{color: #737373;display: block;padding-left: 63px;line-height: 30px;height: 30px;font-size: 12px;}
.per-center-box dl dd a:hover,.per-center-box dl dd.active>a{color:#fff;background:#fa742c;border-top:1px solid #efefef;border-bottom:1px solid #efefef;}
.per-center-box dl dd ul li a{padding-left: 75px;}
.per-center-box dl dd ul li.active>a{ color:#fff;background:#fa742c;border-top:1px solid #efefef;border-bottom:1px solid #efefef;}

.brcd{border-right: 1px #999 solid;padding-right: 15px;display: inline-block;color: #cdcdcd;font-size: 13px;cursor:pointer;margin-right: 15px;line-height: 13px;}
.brcd .pa{display: none;top: 41px; padding:0px 15px;text-align: center;position: absolute;border: 1px #ECEBEB solid;background: #fff;z-index: 2000;}
.brcd .pa:before{content: "";display: inline-block;position: absolute;border: 7px transparent solid;border-bottom-color: #fff;top:-14px;left:50%;margin-left: -7px}
.brcd:hover{color: #fff;}
.brcd:hover .pa{display: block}
.brcd .wximg{right:150px;}
.brcd .apptel{width: 140px;right: 80px;}
.brcd .apptel h3{color: #333;font-size: 12px;line-height: 40px;}
.brcd .apptel a{text-align: left;width: 104px;height: 30px;padding-left: 10px;background: #ff6715;color: #fff;display: block;line-height: 30px;margin:0px auto 10px ;}
.brcd .apptel a:hover{background: #FF5900;}
.brcd .fwtel{width: 200px;right:155px;}
.brcd .fwtel:before{left: 30%;}
.brcd .fwtel p{text-align: center;font-size: 12px;line-height: 38px;color: #333;}


/**分页**/
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;width: 35px;height: 35px;line-height: 33px; color: #333 !important;border: 1px solid #ECEBEB;margin:0px 7px;border-radius: 2px;vertical-align: middle;background:#fff;}
.tcdPageCode a:hover{color: #FFF !important;background: #FF6715 none repeat scroll 0% 0%;border: 1px solid #FF6715;}
.tcdPageCode span{display: inline-block;width: 35px;height: 35px;line-height: 33px; color: #333;border: 1px solid #ECEBEB;margin:0px 7px;border-radius: 2px;vertical-align: middle;}
.tcdPageCode span.current{color: #FFF;background: #FF6715 none repeat scroll 0% 0%;border: 1px solid #FF6715;}
.tcdPageCode span.disabled{	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;cursor: default;}
.tcdPageCode i{line-height:33px;}

/**弹窗样式
.toast{width:320px;height:110px;margin-left:-160px; top:50%;left:50%;margin-top:-55px;padding:20px;border-radius:5px;background:rgba(250, 116, 44,0.7);position:fixed;display: none;z-index: 9999999;}
.close-toast{background: url(images/zs/close.png) no-repeat;width: 16px;height: 16px;display: inline-table;cursor: pointer;}
.close-toast:hover{background: url(images/zs/close-o.png) no-repeat;}**/

/**弹窗样式**/
.toast{background: rgba(0,0,0,0.5);position:fixed;display: none;z-index: 99999;left: 0px;right: 0px;top: 0px;bottom: 0px;}
.toast .toast-con{width:320px;height:110px;margin-left:-160px; top:50%;left:50%;margin-top:-55px;position: absolute;padding:20px;border-radius:5px;background: rgb(255,255,255);}
.close-toast{background: url(images/zs/close.png) no-repeat;width: 16px;height: 16px;display: inline-table;cursor: pointer;}
.close-toast:hover{background: url(images/zs/close-o.png) no-repeat;}

.rote{transform:rotate(180deg);-ms-transform:rotate(180deg);/* IE 9 */-moz-transform:rotate(180deg);/* Firefox */-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
-o-transform:rotate(180deg);}