#calendar{width:100%;padding:100px 100px 50px 100px;background:#fff;position:relative;border:1px #EBEBEB solid}
#calendar1{width:780px;padding:20px 100px 50px 100px;background:#fff;position:relative;border:1px #EBEBEB solid}
.absolute_div1{position: absolute;top: 20px;right: 100px;z-index: 900;}
.absolute_div{position: absolute;top: 105px;right: 100px;z-index: 900;}
.colorblock {width: 20px;height: 20px;display: inline-block;vertical-align: middle;}
#data_timer td{width:142px;height:53px;background:#4AA2D4; text-align:center; vertical-align:middle;color:#fff;cursor:pointer;border:1px #fff solid}
.fc-axis{display:none}
#data_timer .clicktd{background:#434CB6}
#data_timer .today{background:#A2354A;cursor:default}
#data_timer .pasttd{background:#C0C0C0;color:#333; cursor:default}



/* Tables
--------------------------------------------------------------------------------------------------*/
.fc table{width: 100%;table-layout: fixed;border-collapse: collapse;border-spacing: 0;font-size: 1em; /* normalize cross-browser */}
.fc th{background:#F6F6F6;text-align: center;color:#333;line-height:25px;padding:10px 0;}
.fc-prev-button{left:0;background:url(../images/company/date_left.png) no-repeat;width:75px;height:142px}
.fc-next-button{right:0;background:url(../images/company/date_right.png) no-repeat;width:75px;height:142px}
.fc-prev-button,.fc-next-button{position:absolute;top:50%;border:none; outline:none;margin-top:-60px;opacity: 0.6}

/* Toolbar
--------------------------------------------------------------------------------------------------*/

.fc-toolbar {text-align:center;margin-bottom:25px; overflow:hidden}
.fc-toolbar .fc-left{float:left;color:#FE6714}
.fc-toolbar .fc-right {float: right;}
.fc-toolbar .fc-center{display: inline-block;}
.fc-state-hover{opacity: 1}

