input.city_name{width: 110px;height: 28px; border:0;}
.js-s.tct-select .ic-select2{background: none;}
.js-date{background: url(../images/zs/date_icon.png) 10px center no-repeat}
.jbk-bt .ml50{cursor: pointer}
.jbk-bt .ml50:hover{color: #ff6715}
.jbk-bt .black{color: #000}
.jbk-bt .more_area{position: absolute; right:60px;top: 0; line-height: 38px;color:#333;}
.jbk-bt .more_area i{font-size: 18px; margin-left: 5px;vertical-align: middle;}
.jbk-bt .pickUp i:before{content: "\f106";}
#loading{position: relative;}
#noresult{line-height: 170px;}
#noresult>div{width: 240px;padding-left: 50px; background:url(../images/zs/no_info.png) left center no-repeat;}
#loading{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff;z-index: 9999;}
.mb25 .lh30:hover{color: #ff6715}
.czh-search ul.fl li a{color:#000;}
.fl li a{color: #000;}
.mb25 .mr10{cursor: pointer;}
.isLoading{display: inline-block; width: 20px; height: 20px;margin-right: 5px; vertical-align: middle; background: url(../images/loading_2.gif) center center no-repeat;}

/*add*/
.ycc-page .skip{display:inline-block;width: 100px;margin-left: 20px; line-height: 34px; float: none; vertical-align: middle}
.ycc-page .skip font{float: left;}
.ycc-page .skip input{float: left;display: inline-block;width: 50px;margin: 0 10px; padding: 0 5px; height: 40px; border: solid 1px #ECEBEB;}
.ycc-page .skip a.go{float:left;font-weight: bold;vertical-align: middle;}

.mb25 .lh30{cursor: pointer;}
.mb25 .lh30:hover{color:#ff6715}

a.room-show{text-indent: -9999px; background: url(../images/zs/romm_show_btn.png) left center no-repeat;}
a.fa-angle-up{background-position: -28px center;}

#roomlist .jd-order-room .guarantee{padding:1px 2px; background: #ff3c47;color: #fff; display: inline-block;border-radius:2px}
.jd-order-room td .f12{padding-right: 40px; position: relative;line-height: 20px;}
.jd-order-room td .f12 a{position:absolute; right: 20px; bottom: 0;}
#roomlist .show_title{border-radius: 3px;color: #333;font-size: 12px;}
#roomlist .show_title i{position: absolute; display: block; width: 14px; height: 12px; left: 205px; top: -12px; background:url(../images/zs/alert_dir.png) center center no-repeat;}

.ycc-page a{margin-right: 5px;height: 34px; width: 34px; line-height: 34px;}