@charset "utf-8";
/*index 首页*/
a:hover{color:#ff5900;}
a{color:#aaa}.inline_b{display:inline-block}.fw{font-weight:600}.oh{ overflow:hidden}
.cur{cursor: pointer;}
.bgf1{background:#f1f1f1}.bgfff{background:#fff}
.c3{color:#333}.cc{color:#ccc}.ccheng{color:#FF6715}.c_green{color:#7AC041}.c-b{color: #bbb;}.c-8{color: #888;}
.btn_cc0,.btn_cc1{display:inline-block;width:120px;height:40px;line-height:38px;border:1px #FF6715 solid; text-align:center;cursor:pointer}
.btn_cc0{background:transparent;color:#FF6715}
.btn_cc1{background:#FF6715;color:#fff;}
.btn_cc1:hover{background: #ff5900;color:#fff !important;}
.nav_bar{background:#494745;height:41px;line-height:41px}
.cg_list{width:230px;float:left;background:rgba(255,255,255,0.2);text-align:center;cursor:pointer;color:#fff;cursor:pointer;position:relative}
.down_list{position:absolute;top:41px;left:0;color:#747474;background:#fff; z-index:100;width:100%; line-height:normal;display:none}
.cg_list:hover{color:#FFA200}.cg_list:hover .down_list{display:block}
.down_list li{text-align:center;padding:10px}.down_list i{font-size:25px}
.nav_ul li{display:inline-block;float:left;font-size:16px;position: relative;}.nav_ul a{padding:10px 30px;color: #fff;}
.nav_ul li:hover a,.nav_ul .active a{color:#FFA200;background:rgba(255,255,255,0.2)}
.nav_ul li dl:before{content: "";display: inline-block;position: absolute;border: 7px transparent solid;border-bottom-color: #FF6715;top:-15px;left:50%;margin-left: -7px}
.nav_ul li dl{display:block;background: #fff;width: 100%;position: absolute;top: 41px;left: 0px;border:1px solid #eaeaea;display: none;z-index: 9999;}
.nav_ul li:hover dl{display: block;}

/**小标签导航栏**/
.linknav li{display:inline-block;float:left;}.linknav li:last-child:after{content:"";}
.linknav li:after{content:">";display:inline-block;padding:0 10px;color:#C5C5C5;}
.linknav .active a{color:#333;font-size:16px}

.banner{background:url(../images/cg30/banner.png) no-repeat;min-height:490px;height:auto; background-size:100% auto;}
.square_ul li{width:290px;background-color:#fff;padding:0 15px 15px 15px;display:inline-block;float:left;;margin:10px 10px 0 0;position:relative}
.square_ul li:hover{box-shadow:#ccc -2px 3px 5px 0px}
.square_ul_office li{width:290px;background-color:#fff;padding:15px;display:inline-block;float:left;;margin:10px 10px 0 0;position:relative}
.square_ul_office li:hover{box-shadow:#ccc -2px 3px 5px 0px}
.square_ul_clear li{width:290px;background-color:#fff;padding:15px;display:inline-block;float:left;;margin:10px 10px 0 0;position:relative}
.square_ul_clear li:hover{box-shadow:#ccc -2px 3px 5px 0px}
.square_ul_home li{width:290px;background-color:#fff;padding:15px;display:inline-block;float:left;;margin:10px 10px 0 0;position:relative}
.square_ul_home li:hover{box-shadow:#ccc -2px 3px 5px 0px}
.square_ul_it li{width:290px;background-color:#fff;padding:15px;display:inline-block;float:left;;margin:10px 10px 0 0;position:relative}
.square_ul_it li:hover{box-shadow:#ccc -2px 3px 5px 0px}
.square_ul_phone li{width:290px;background-color:#fff;padding:15px;display:inline-block;float:left;;margin:10px 10px 0 0;position:relative}
.square_ul_phone li:hover{box-shadow:#ccc -2px 3px 5px 0px}
.cgimg{height:245px; text-align: center;line-height: 245px}
.cg_tag{position:absolute;left:15px;top:15px}
.info_tit{padding:10px 15px;font-size:18px;color:#333;position:absolute;top:-24px;left:32%;background:#f1f1f1}
.info_tip{width:290px;border:2px #C3C3C3 solid;position:relative;text-align:center;padding:50px 20px 5px 20px}
.info_tip li{list-style:disc inside; margin-top:15px}


/*办公用品*/
.bb{border-bottom:1px #F1F1F1 solid}
.type_ul{width: 1000px;overflow: hidden;height:35px}
.type_ul li{width:180px; text-align:center;display:inline-block;float:left;color:#333;cursor:pointer;margin-bottom: 15px}
.type_ul li:hover,.type_ul li.active,.tt_ul li:hover,.tt_ul li.active{color:#FF6715}
.tt_ul li{display:inline-block;float:left;color:#333;cursor:pointer;border-left:1px #E2E2E2 solid;padding:2px 15px}
.tt_ul li:first-child{border:0}
.checkbox_div{width:17px;height:17px;border:1px #E2E2E2 solid;background:#fff;display:inline-block;cursor:pointer}
.checkbox_div.active{background:#FF6715;}
.pagebox a{display:inline-block;color:#333;cursor:pointer;padding:5px 0px;margin-right: 5px;width: 48px;text-align: center;}
.pagebox a.active,.pagebox a:hover{background:#757575;color:#fff!important;}
.split_line{border-bottom:1px #C2C2C2 solid;margin-bottom:50px;height:20px;position:relative}
.split_line>div{position:absolute;left:50%;margin-left:-200px;background:#F1F1F1;width:400px;}

.like_ul{width: 10000%;position: relative;left: 0px;}
.like_ul li{display:inline-block;float:left;color:#333;padding:15px 0;margin-right:12px;text-align:center;position:relative;background:#fff;}
.like_ul li:nth-child(5n){margin-right: 0px;}
.like_img{width:230px;height:195px;line-height:195px}
.btn_cheng{display:inline-block;cursor:pointer;padding:3px 10px;background:#FF6700;color:#fff;position:absolute;bottom:8px;left:50%;margin-left:-45px;display:none}
.like_ul li:hover .btn_cheng{display:inline-block}
.goods img{padding:20px 40px 20px 20px}
.btn_null,.btn_full{width:180px}
.btn_full:hover{background: #FF5900;color:#fff}
.btn_null:hover{background: #FF5900;color: #fff!important;}

.office-nav{width: 1000px;overflow: hidden;height: 37px;margin-left: 50px;}
.office-nav.hauto{height: auto;}
.office-nav li{float: left;margin-bottom: 15px;width: 140px;text-align: left;}
.office-nav li:hover,.office-nav li.active{color: #FF6715;}

/*详情页面*/
.goods_box{position:relative;padding:20px}
.goods_img{width:670px;text-align:center;line-height:445px;height:445px}
.goods_ul{overflow:hidden; display:inline-block}
.goods_ul li{display:inline-block;float:left;width:80px;height:70px;line-height:70px;text-align:center;cursor:pointer}
.goods_ul li.active{border:1px #ababab solid}
.a_left,.a_right{position:absolute;cursor:pointer;width:17px;height:30px;top:50%;margin-top:-15px}
.a_left{background:url(../images/cg30/a_left.png) no-repeat;left:3px}
.a_right{background:url(../images/cg30/a_right.png) no-repeat;right:3px}
.starbox i{background:url(../images/cg30/star.png) no-repeat;width:13px;height:12px;display:inline-block}
.starbox .star0{ background-position:0 0;}.starbox .star1{ background-position:-13px 0;}
.good_prop{width:60px;height:30px;line-height:27px;display:inline-block;border:1px #d8d8d8 solid; vertical-align:middle;text-align:center;cursor:pointer;
position:relative}.good_prop.active{border-color:#FF6715;}
.good_prop.active:before{
display:block;position:absolute;bottom:0;right:0;background:url(../images/company/selected.png) no-repeat;width:13px;height:13px;content:"";}
.btn_star{display:inline-block;cursor:pointer;padding:11px 15px 10px 15px;background:#B8B8B8;color:#fff}
.btn_star.active{color:#FF6715}
.un-show{display: none;}
.dis{display: block;}

/**规格参数**/
.us-table1{background: #fff;width: 100%;border: 1px solid #b8b8b8;}
.us-table1 table{width: 100%;line-height: 24px;font-size: 16px;}
.us-table1 th{text-align: right;padding: 15px 30px;border-right: 1px solid #efecec;border-bottom: 1px solid #efecec;width: 260px;color: #333;}
.us-table1 td{text-align: left;padding: 15px 30px;border-bottom: 1px solid #efecec;color: #888;}

/**用户评价**/
.starbox1 i{width:20px;height:18px;display:inline-block; vertical-align:middle;margin-left:2px;cursor:pointer}
.starbox1 i.star0{background:url(../images/company/star0.png) no-repeat;}
.starbox1 i.star1{background:url(../images/company/star1.png) no-repeat;}
.starbox1 i.star2{background:url(../images/company/star2.png) no-repeat;}
.tab-sug td{border-bottom: 1px solid #c9c9c9;padding: 15px 0px;}
.btn-quest{background: #FF6715;color: #fff;font-size: 18px;display: inline-block;height: 52px;width: 140px;text-align: center;line-height: 52px;}
.btn-quest:hover{color: #fff !important;background: #ff5900;}

/*积分商城*/
.stream li{padding-top:75px;display:inline-block;float:left;width:33%;position:relative;}
.stream li:after{content:">";display:inline-block;position:absolute;bottom:0;right:-5px}.stream li:last-child:after{display:none}
.jf1{background:url(../images/cg30/jf1.png) top center no-repeat;}
.jf2{background:url(../images/cg30/jf2.png) top center no-repeat;}
.jf3{background:url(../images/cg30/jf3.png) top center no-repeat;}
.btn_small{display:inline-block;cuorsor:pointer;color:#FF9600;padding:2px 10px;border:1px #FF9600 solid}
.btn_small:hover{background:#FF9600;color:#fff}
.user_info{width:200px;margin:0 auto;height:162px;background:url(../images/cg30/useinfo.jpg) center center no-repeat}
.pagebox1{display:inline-block}
.pagebox1 li{display:inline-block;float:left;color:#333;cursor:pointer;padding:5px 12px;border:1px #ddd solid;background:#fff; margin-left:5px}
.pagebox1 li.active,.pagebox1 li:hover{background:#FF6715;color:#fff;border:1px #FF6715 solid;}


/**结算**/

.cg-pay-table th{padding: 15px 10px;border-bottom: 1px solid #efecec;font-size: 16px;text-align: center;}
.cg-pay-table tr td{padding:20px 10px;border-bottom: 1px solid #efecec;}
.cg-pay-table tr:last-child td{border-bottom: 0px;}
.space-num{height: 22px;width: 84px;margin:0px auto;}
.space-num a{display: block;width: 26px;float: left;font-size: 18px;color: #555;background: #d5d4d2;height: 22px;line-height: 18px;text-align: center;font-weight: bold;}
.space-num a:hover{background: #ff6a00;color: #fff !important;}
.num{border:1px solid #ecebeb;width: 30px;background: #fff;float: left;line-height: 20px;color: #555;text-align: center;border:1px solid #d5d4d2;height: 22px;}


.pay-js-btn{height: 60px;line-height: 60px;font-size: 18px;background: #fff;margin:20px 0px;-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.2);-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.2);box-shadow: 0px 0px 10px rgba(0,0,0,0.2);}
.pay-js-btn .btn_cc1{height: 60px;font-size: 28px;line-height: 60px;width: 180px;}

/**猜你喜欢轮播图**/
.lb-circle{width: 100px;margin:20px auto;text-align: center;}
.lb-circle span{display:inline-block;cursor: pointer; width: 10px;height: 10px;border-radius: 50%;border-radius: 10px;margin-right: 10px;border:2px solid #f1f1f1;background: #b0b0b0;}
.lb-circle span:hover,.lb-circle span.current{background:transparent;border:2px solid #ff5300;}

/**我的订单**/

.address-nav li{width: 49%;float: left;margin:2%  2% 0px 0px;position: relative;background: #f1f1f1; cursor: pointer; border:1px solid #f1f1f1;padding: 20px 80px 20px 40px;color: #888;line-height: 30px;}
.address-nav li:nth-child(2n){margin-right: 0px;}
.address-nav li.active{border:1px solid #ff6715;background: #fff}
.address-nav li em{display: none;width: 60px;height: 30px;background: #ff6715;color: #fff;position: absolute;right: 0px;top: 0px;text-align: center;line-height: 30px;}
.address-nav li.active em{display: block;}
.inp-bd{border:1px solid #efecec;padding: 10px;line-height: 24px;width:1082px;}

/**申请表**/
.from-infor{margin-left: 150px;width: 600px;margin-bottom: 10px;}
.ts-input{padding: 4px 10px;line-height: 20px;border:1px solid #d6d6d6;margin:0px 10px;width: 290px;font-size: 14px;}
.from-infor font{width: 100px;display: inline-block;float: left;text-align: right;}

.buy-sq-nav{margin:0px auto;display: inline-block;height: 50px;line-height: 50px;}
.buy-sq-nav li{float: left;cursor: pointer;color: #595959;font-size: 14px;text-align: center;background: #f6f6f6;margin-left: -15px;}
.buy-sq-nav li em{margin-right: 10px;width: 20px;height: 20px;line-height: 20px;display: inline-block;color: #fff;background: #c3c3c3;border-radius:50%;font-size: 13px;text-align: center;}
.buy-sq-nav li.active em{background: #fb7730;}
.buy-sq-nav li.li1{width:284px;margin-left: 0px;background: url(../images/cg30/pay-step1.png) no-repeat;background-size: 100%;}
.buy-sq-nav li.li2{width:287px;background: url(../images/cg30/pay-step2.png) no-repeat;background-size: 100%;}
.buy-sq-nav li.li4{width:287px;background: url(../images/cg30/pay-step3.png) no-repeat;background-size: 100%;}
.buy-sq-nav li.active.li1{background: url(../images/cg30/pay-step1-a.png) no-repeat;color: #fb7730;background-size: 100%;}
.buy-sq-nav li.active.li2{background: url(../images/cg30/pay-step2-a.png) no-repeat;color: #fb7730;background-size: 100%;}
.buy-sq-nav li.active.li4{background: url(../images/cg30/pay-step3-a.png) no-repeat;color: #fb7730;background-size: 100%;}

/**支付方式**/
.bd-box{border:1px solid #ecebeb;}
.bd-box ul{border-bottom: 1px solid #ff6715;height: 60px;}
.bd-box ul li{float: left;line-height: 60px;height: 60px;width: 130px;text-align: center;cursor: pointer;}
.bd-box ul li.active{color: #ff6715;background: #fff;border:1px solid #ff6715;border-bottom: 1px solid #fff;}
.bd-box .un-show label{margin-right: 25px;margin-bottom: 25px;display: inline-block;cursor: pointer;}
.bd-box .un-show label:nth-child(5n){margin-right: 0px;}
.bd-box .un-show label img{border:1px solid #f1f1f1;margin-left: 15px;}
.bd-box .un-show label.active img{border:1px solid #ff6715;}