@CHARSET "UTF-8";

.gray {
	color: gray;
}

.ac_results {
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
	z-index: 10000;
	display: none;
}
.index_position {
	top: 30px !important;
	left: 70px !important;
	min-width: 150px;
}
.fromcity_position {
	top: 30px !important;
	left: 70px !important;
	min-width: 150px;
}
.gotocity_position {
	top: 80px !important;
	left: 70px !important;
	min-width: 150px;
}
.jd1_position {
	top: 30px !important;
	left: 0px !important;
	min-width: 200px;
}

.ac_results ul {
	margin: 0;
	padding: 0;
	list-style: none;
    height: 300px;
    overflow-y: scroll;
	
}

.ac_results li a {
	white-space: nowrap;
	text-decoration: none;
	display: block;
	color: #555;
	padding: 1px 3px;
}

.ac_results li {
	border: 1px solid #fff;
}

.ac_over, .ac_results li a:hover {
	background: #c8e3fc;
}

.ac_results li a span {
	float: right;
	width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ac_result_tip {
	border-bottom: 1px dashed #666;
	padding: 3px;
}