/* CSS Document */
       .kalendar-detail{position: relative;padding: 0 40px; padding-bottom:30px; display: none}
	   .kalendar-table{width: 100%;}
	   .kalendar-detail .pick-up{ position: absolute; right: 22px; bottom: 6px; padding: 2px 20px; background: #fef7ed;color:#ff6715; font-size: 12px; height: 20px; line-height: 20px; border-radius: 2px; box-sizing:content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;-o-box-sizing: content-box;}
	   .kalendar-detail .pick-up i{ display: inline-block; width: 12px; height: 10px; margin: 5px 15px 0 0; background:url(../images/slideUp.png) center center no-repeat; float:left;}
	   .kalendar-table tbody td{height: 50px;border: solid 1px #f4f3f3;width: 110px; color:#000; font-weight: bold; font-size:14px;text-align:left;padding: 0 5px;cursor: pointer;}
	   .kalendar-table thead{line-height: 55px;text-align: center;}
	   .kalendar-table thead td .border{border-top:solid 1px #f4f3f3;padding-bottom: 30px;}
	   .kalendar-table thead td{border:0; border-bottom: solid 1px #f4f3f3; font-size: 16px; padding-top: 10px;color:#000; font-weight: bold;}
	   .kalendar-table thead td a{background: url(../images/date_month_logo.png) -1px 1px no-repeat;text-indent:-9999px;font-size: 28px;color: #E8E2DB;display: block; width: 28px;height: 28px;text-align: center;line-height: 28px;border: solid 1px #d6d6d6;border-radius: 50%;margin-top: 13px;border-radius: 50%;font-weight: bold; text-align: center;}
	   .kalendar-table thead td a.next-mon{background-position: -1px -21px;}
	   .kalendar-table thead td a:hover{color: #fff; background-position: -19px 1px;border-color:#F66507}
	   .kalendar-table thead td a.next-mon:hover{background-position: -19px -21px;}
	   .kalendar-table tbody td .price{text-align: right;color:#ff6715; line-height: 25px;font-weight: normal;}
	   .kalendar-table tbody td:hover{background: #FDF7ED;}
	   .kalendar-table tbody td.ago{color:#999}
	   .pull-left{float: left}
	   .pull-right{float: right}
	   .sc-price-date{width: 720px;float:left;}
	   .sc-price-date .active{background: #fff;}
	   
	   .sc-calendar{position: relative;overflow: hidden;}
	   .sc-calendar .preview{width: 39px;height: 100%; z-index: 9999;cursor:pointer; position: absolute; left:0; top:0;float:left;text-align: center;background: #f7f0e6;border-right: 1px solid #ecebeb;transition: all .4s linear;-moz-transition: width  all .4s;-webkit-transition:  all .4s;-o-transition: all .4s linear;border-bottom: solid 1px #ed7034;}
	   .sc-calendar .preview:hover{background: #fff;}
	   .sc-calendar .disabled:hover{background: #f7f0e6;}
	   .sc-calendar .preview .p-fl{background: #f7f0e6 url(../images/cal.png) no-repeat 0px -64px;width: 18px;height: 30px;display: block;margin:0px auto;margin-top: 13px;transition: all .4s linear;
    -moz-transition: width all .4s;-webkit-transition: all .4s;-o-transition: all .4s linear;}
       .sc-calendar .preview .p-fr{background: #f7f0e6 url(../images/cal.png) no-repeat -23px -105px;}
       .sc-calendar .preview:hover .p-fl{background: #fff url(../images/cal.png) no-repeat -21px -64px;}
       .sc-calendar .preview:hover .p-fr{background: #fff url(../images/cal.png) no-repeat 0px -105px;;}
       .sc-calendar .disabled:hover .p-fl{background: #f7f0e6 url(../images/cal.png) no-repeat 0px -64px;transition: all .4s linear;
    -moz-transition: width all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s linear;}
       .sc-calendar .disabled:hover .p-fr{background: #f7f0e6 url(../images/cal.png) no-repeat -23px -105px;}
	   #date_icon{float: right; left: 759px;}
	   .week-list{position: absolute; left: 39px;top: 0;width: 720px;float:left; overflow: hidden; text-align: center;}
	   
	   #isLoading{padding: 20px 0;}
	   .isLoading{display: inline-block; width: 20px; height: 20px;margin-right: 5px; vertical-align: middle; background: url(../images/loading_2.gif) center center no-repeat;}
	   #noresult{line-height: 170px;}
       #noresult>div{width: 240px;padding-left: 50px; background:url(../images/zs/no_info.png) left center no-repeat;}
       .xc-price{border-bottom: 0;}
       .sc-price-date-inner td,
       .xc-price .xp-tj-cal{border-bottom: solid 1px #ed7034}
       .sc-price-date .active{border: solid 1px #ed7034;border-bottom: solid 1px #fff;}
       .sc-price-date .active:before{content:"";}
	   