.fl li a{color: #000;}
.city_name {border: none;}
.js-s.tct-select .ic-select{background: none;}
.js-date{background: url(../images/zs/date_icon.png) 10px center no-repeat;}
a.room-show{text-indent: -9999px; background: url(../images/zs/romm_show_btn.png) left center no-repeat;}
a.fa-angle-up{background-position: -28px center;}