.c-b1{color: #969696;}
 a.c-333{color: #333;}
 a.c-333:hover{color: #ff6715;}
 .undis{display: none;}
 .w550{width: 550px;min-height: 345px;text-align: center;margin:0px auto;margin-top: 95px;}
 .fpsw-nav li{float: left;height: 30px;cursor: pointer;color: #595959;font-size: 14px;line-height: 30px;text-align: center;background: #f6f6f6;}
 .fpsw-nav li em{margin-right: 10px;width: 20px;height: 20px;line-height: 20px;display: inline-block;color: #fff;background: #c3c3c3;border-radius:50%;font-size: 13px;text-align: center;}
 .fpsw-nav li.active em{background: #fb7730;}
 .fpsw-nav li.li1{width:174px;}
 .fpsw-nav li.li3{width:183px; }
 .fpsw-nav li.active.li1{background: url(../images/jc1-o.png) no-repeat;color: #fb7730;}
 .fpsw-nav li.active.li3{background: url(../images/jc3-o.png) no-repeat;color: #fb7730;}
 .psw-form{padding:20px;float: left;text-align:left;line-height: 45px;}
 .psw-form span{display: inline-block;min-width: 70px;text-align: right;font-size: 14px;}
 .psw-form input[type="text"]{height: 45px;border:1px solid #bfbfbf;padding: 10px;width: 350px;float: left;}
 .yan-img{width:100px;height: 45px;border:1px solid #bfbfbf;margin-left: 20px;float: left;}
 .ib-btn,a.ib-btn{text-align:center;height:45px;line-height:43px;}
 a.ib-btn:hover{color: #fff !important;}
 a.ib-o{color: #fa742c;background-color: #fff;border:1px solid #fa742c;}
 a.ib-o:hover{color: #fff !important;}